.mainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: blueviolet;
}

.completed {
  color: #555;
}

.notCompleted {
  color: #555;
}