.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: red;
  position: relative;
  height: 100px;
  margin-top: 12px;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  background-color: white;
  border-radius: 130px;
  position: absolute;
  top: -10px;
  left: -30px;
  border: solid 1px black;
  z-index: 100;
  box-shadow: 2px 2px 5px #ddd;
  
}

.detailsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: yellow;
  flex: 13;
  height: 80%;
  position: relative;
  overflow: hidden;
  align-self: flex-start;
}

.detailsContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  align-self: flex-end;
  background-color: gold;
  height: 100%;
  padding: 6px 24px;
  gap: 12px;
}

.detailsContent {
  background-color: blue;
  flex: 1;
  height: 100%;
}

.hiddenCirle {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  position: absolute;
  left: -130px;
  top: 0;
  background-color: red;
}