.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 11;
  gap: 10px;
}

.containerClose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2/11;
  gap: 10px;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  flex: 9;
  gap: 10px;
  width: 100%;
  gap: 6px;
  padding: 24px;
}
