.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  gap: 12px;
  background-color: white;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: red;
  height: 100%;
}

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 2;
  background-color: yellow;
  height: 100%;
}

.title {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.btnContainer {
  display: flex;
  gap: 12px;
}