.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 24px;
  gap: 24px;
}

.sidbarHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
  flex: 1;
  color: blueviolet;
}

.sidebarStepsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 9;
  width: 100%;
  gap: 16px;
}

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 3;
  height: 100%;
  background-color: #f6f6f6;
}

.title {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.btnContainer {
  display: flex;
  gap: 12px;
}