.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  background-color: white;
  padding: 3px 6px;
  width: 100%;
  border-radius: 3px;
}

.label {
  font-size: 14px;
  flex-grow: 1;
}

.input {
  outline: none;
  flex: 9;
}

.errors {
  background-color: lightsalmon;
  color: white;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
  width: 220px;

}

.input:focus {
  outline: none;
}