.container {
  width: 100%;
  background-color: blueviolet;
  align-self: flex-start;
}

.input {
  border: solid 1px blueviolet !important;
  background-color: #eee;
  font-size: 12px;
}

.containerClass {
  background-color: blueviolet;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}