.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  background: linear-gradient(45deg, #ddd, #ddd);
  width: 50%;
  margin: 12px;
  padding: 3px 12px;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
}

.label {
  font-weight: bold;
}

.input {
  width: 85%;
  padding: 2px 5px;
  flex: 1;
  background-color: transparent;
}

.input::placeholder {
  color: #555;
}

.input:focus {
  outline: none;
}