.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 100%;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}