.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 300px;
  gap: 12px;
  box-shadow: 2px 2px 6px #555;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  border-bottom: solid 1px #ddd;
  padding: 0 12px;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 5;
  height: 250px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.detailsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  background-color: yellow;
  height: 100%;
}